<script type="text/template" id="tmpl-message-error">
    <div class="alert alert-warning">
        <%if(lead){%>
        <strong><%=lead%></strong>
        <%}%>
        <%=message%>
    </div>
    <%if(!isUserError){%>
    <section class="well well-small">
        <p><span class="lead">We're sorry!</span> Please click <a href="/"><strong>here</strong></a> to return to the home page.</p>
    </section>
    <%}%>
</script>

<script type="text/template" id="tmpl-message-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%if(lead){%>
    <strong><%=lead%></strong>
    <%}%>
    <%=message%>
</script>

<script type="text/template" id="tmpl-patient-summary">
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="<%=pic%>">
        </a>
        <div class="media-body">
            <h4 class="media-heading"> <a href="#patient/edit/<%=id%>"><%=name%> &raquo;</a></h4>
            <p><%=desc%></p>
        </div>
    </div>
</script>

<script type="text/template" id="tmpl-patient-summaries">
    <header class="page-header">
        <h1>Patients <a class="btn btn-default  pull-right" href="#patient/edit"><i class="glyphicon glyphicon-plus"></i> Add</a></h1>
    </header>
    <ul class="pager">
        <li class="previous disabled" data-loader="true"><a href="#">&larr; Older</a></li>
        <li class="next" data-loader="true"><a href="#">Newer &rarr;</a></li>
    </ul>
    <ul class="list-unstyled patient-summaries"></ul>
    <ul class="pager">
        <li class="previous disabled" data-loader="true"><a href="#">&larr; Older</a></li>
        <li class="next" data-loader="true"><a href="#">Newer &rarr;</a></li>
    </ul>
</script>

<script type="text/template" id="tmpl-comm-progress">
   
</script>